.obj {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    box-shadow: 0.5px 0.5px 1px 1px  #658C3E;
    border-radius: 5px;
    margin: 10px;
    height: 350px;
    width: 200px;

}

.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.h2 {
    color: #153840;
    text-transform: uppercase;
    font-Size: 15px;
}

.h3 {
    color:#80A62E; 
    font-Size: 13px; 
    padding: 5px;
}

.contador {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    font-size: 10px;
    text-align: center;
    padding: 10px;

}

.boton {
    background-color: #153840;
    color: #F2F2F2;
    box-shadow: none;
    border: none;
    padding: 12px;
    border-radius: 5px;
}