* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    list-style: none;
    text-decoration: none;}

.header {
    color: #153840;
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: center;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase; 
    height: 95px;
    width: 100%;
    margin: 0 60px;
}
